html,body,div,span,h3,p,a,ul,menu,dir{margin:0;padding:0;border:0;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header,menu, nav, section {display: block;}

body{

    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
a:link {
    color: black;
    font-family: 宋体;
    text-align: left;
    text-decoration: underline;
    TEXT-DECORATION:none;
}
a:visited {
    font-size: 9pt;
    color: black;
    font-family: 宋体;
    text-align: left;
    text-decoration: underline;
    TEXT-DECORATION:none;
}
a:hover {
    color: #993300;
    text-decoration: underline;
    TEXT-DECORATION:none;
}
a:active {
    color: #ff0033;
    text-decoration: none;
}
#headImg{
    text-align: center;
    margin: 0px auto;
    background:url('../images/bg1x.jpg') no-repeat 0px 0px;
    padding:15px;
}
#space{
    margin-top: 20px;
    height: 90%;
}
#main-content {
    width: 80%;
    text-align: center;
    margin: 0px auto;
}
#mine{
    text-align: center;
    margin: 0px auto;
}
td{
    padding: 10px;
    -webkit-box-shadow: 3px 3px 3px;
    -moz-box-shadow: 3px 3px 3px;
    box-shadow: 3px 3px 3px;
}
#space2{
    height: 40px;
}
@media screen and (max-width:1440px){
    #img1{
        width: 140px;
        height: 140px;
    }
    .img2{
        width: 140px;
        height: 140px;
    }
}
@media screen and (max-width:1366px){
    #img1{
        width: 130px;
        height: 130px;
    }
    .img2{
        width: 135px;
        height: 135px;
    }
}
@media screen and (max-width:991px){
    #img1{
        width: 120px;
        height: 120px;
    }
    .img2{
        width: 130px;
        height: 130px;
    }
}
@media screen and (max-width:768px){
    h1{
        font-size:25px;
    }
    #img1{
        width: 110px;
        height: 110px;
    }
    .img2{
        width: 125px;
        height: 125px;
    }
}
@media screen and (max-width:480px){
    .img2{
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width:400px){
    .img2{
        width: 90px;
        height: 90px;
    }
}
@media screen and (max-width:360px){
    h1{
        font-size:20px;
    }
    p{font-size: 16px}
    .img2{
        width: 80px;
        height: 80px;
    }
}